<% provide(:title, 'About') %>
<div class="jumbotron " style="width: 90%; margin: 100px auto 50px;">
  <h1 class="display-4 text-center">About</h1>
  <p class="lead"></p>
  <hr class="my-4 text-left">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, ullam nemo corrupti praesentium quae similique non consectetur optio illo delectus, eaque unde placeat accusamus soluta sunt inventore fuga, nihil ea! Lorem, ipsum dolor sit
    amet consectetur adipisicing elit. Doloremque, expedita nam! Vel voluptatibus porro dolore modi autem ipsum, eius quia obcaecati deleniti cumque, similique exercitationem repellendus, tenetur molestias accusantium nostrum! Lorem ipsum dolor
    <br>
    <br>
     Atque, provident quis? Doloremque id porro impedit, voluptate animi et hic atque asperiores natus sunt, assumenda, voluptates expedita officia cumque est nesciunt. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate
    optio, similique odit quis consectetur mollitia officia dolorem sed eveniet, harum sit autem odio adipisci necessitatibus nemo numquam quod suscipit perspiciatis?</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  <div class="media mt-4">
    <!-- <svg class="bd-placeholder-img mr-3" width="64" height="64" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 64x64"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">64x64</text></svg> -->
    <img src="/assets/pic.jpeg" alt="" class="bd-placeholder-img about mr-3" border-radius= "50%" width="100" height="100">
    <div class="media-body">
      <h5 class="mt-0">Media heading</h5>
      Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
    </div>
  </div>
</div>
