<% provide(:title, 'Contact') %>
<form class="" style="margin: 100px auto; width: 50%;">
  <div class="container">
    <div class="text-center">
      <h1>Any Feedbacks?</h1>
      <p>We'd like to hear your comments!</p>
    </div>
    <hr>
    <div class="form-row">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="">First Name</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="">Last Name</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="">Email</label>
      <input type="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Comments</label>
      <textarea class="form-control" name="comments" id="" cols="30" rows="10" placeholder=""></textarea>
    </div>
    <button type="submit " value="submit" class=" btn btn-outline-primary col-12 ">submit</button>
  </div>
</form>
