<% provide(:title, "Users") %>
<div class="form">
  <h1 class="text-center">List of Users</h1>
  <div class="container">
    <ul class="users">
      <% @users.each do |user| %>
      <hr class="m-0">
        <li>
          <%= gravatar_for user, size: 52 %>
          <%= link_to user.name, user %>
          <%= link_to "| delete", user_path(user), method: :delete,
                                      data: { confirm: "You sure?" } %>

        </li>
      <% end %>
      <hr class="m-0">
      <%= will_paginate%>
    </ul>
  </div>
</div>
